@import '~mand-mobile/components/_style/global'
@import '~mand-mobile/components/_style/mixin/util'
@import '~mand-mobile/components/_style/mixin/theme.components'
@import '~mand-mobile/components/_style/mixin/theme.basic'

color-primary = #E21B46
button-primary-active-fill = #E9424F
button-default-active-fill = color-bg-base
button-warning-active-fill = #E9424F
